{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>College Football Coaching Carousel</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="coaches_wheel"></div>
    </div>
    <div class="col-md-12">
        <h3>Source data summary</h3>
        <table class="table table-striped">
            <thead>
                <th>Metric</th>
                <th>Value</th>
            </thead>
            <tbody>
                {% for key, value in metrics.items %}
                    {% if value.description %}
                        <tr>
                            <td>{{ value.description }}</td>
                            <td>{{ value.value }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block header %}
<script src="{% static 'js/coaches_wheel.js' %}"></script>
{% endblock %}